ion-content {
    --background:white;      
   }

ion-toolbar{
    --background:#042e54;
    }

ion-card{
    --background:white;
}

ion-item{
    --background:white;
    ion-label{
        color: black;
    }  
}

ion-button{
    --background:#f7b512 ;
}

p{
    color: black;
}


ion-title{
    color:#f7b512;
    font-family: 'Libre Baskerville', serif;
    font-size: x-large;
    
    span{
        color: #fefefe;
    }
    }