<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">DUOC <span>UC</span> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><br><br>
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <p>¿Tienes problemas para iniciar sesión?</p><br>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-content>
        <p>
          Ingresa tu usuario y te enviaremos un correo para que recuperes el acceso a tu cuenta.</p>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input style="color: black;" type="text" [(ngModel)]="usuario"></ion-input>
        </ion-item>

      </ion-card-content>
      <ion-button shape="block" (click)="solicitudCambioPassword()">Enviar</ion-button><br><br>
    </ion-card>
  </div>

</ion-content>

